<div class="col-lg-12">
  <h4 class="pt-4 font-weight-bold text-uppercase product-details-subtitle"><%= t(:questions_and_answers) %></h4>
</div>
<div class="col-lg-4">
  <% if spree_current_user.present? %>
    <p class="product-section-title w-100 mb-1"><%= t(:do_you_have_any_questions) %></p>
    <div class='question_form'>
      <%= render 'question_form' %>
    </div>
  <% end %>
</div>
<div class="col-lg-8">
  <% if @product.product_questions.answered.visible.present? %>
    <% @product.product_questions.answered.visible.each_with_index do |question, index| %>
      <% description = simple_format(question&.product_answer&.content, class: 'mb-0') %>
      <% short = truncate(description, separator: ' ', length: 310, escape: false) %>
      <div class="qna w-100">
        <div class="d-flex mb-3">
          <div class="qna__question__title"><%=t(:q)%>:</div>
          <div class="question"><%= "#{question.content}" %></div>
        </div>
        <div class="d-flex mb-3">
          <div class="qna__answer__title"><%=t(:answer)%>:</div>
          <div>
            <div class="product-description">
              <% if description == short %>
                <%= description %>
              <% else %>
                <div class="js-readMore">
                  <%= tag.div class: "js-readMore-short" do %>
                    <%= short %>
                  <% end %>

                  <%= tag.div class: "js-readMore-full d-none" do %>
                    <%= description %>
                  <% end %>

                  <div>
                    <button class="qna__see__more btn btn-link px-0 js-readMore-showMore">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                      Read More
                      
                    </button>
                    <button class="qna__see__more btn btn-link px-0 js-readMore-showLess d-none">
                      <i class="fa fa-angle-up" aria-hidden="true"></i>
                      Read Less
                    </button>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="d-flex align-items-center">
              <!-- <i class="fa fa-angle-down qna__see__more__icon" aria-hidden="true"></i> -->
              <!-- <a href="#" class="qna__see__more">See more answers</a> -->
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>