<% if @product.product_questions.answered.visible.present? %>
  <div class="row">
    <h4 class="product-section-title w-100  font-weight-bold"><%= t(:questions_and_answers) %></h4>
    <% @product.product_questions.answered.visible.each_with_index do |question, index| %>
      <div class="qna w-100">
        <div class="question add-to-cart-form-general-availability-value"><%= "Q. #{question.content}" %></div>
        <div class="answer"><%= question.product_answer.content %></div>
      </div>
    <% end %>
  </div>
<% end %>
<% if spree_current_user.present? %>
  <div class="row pt-2">
    <h5 class="product-section-title w-100"><%= t(:do_you_have_any_questions) %></h5>
    <div class='question_form'>
      <%= render 'question_form' %>
    </div>
  </div>
<% end %>
