<%= content_for :page_actions do %>
  <li>
    <%= button_link_to t(:back_to_questions_list), admin_product_questions_url(@product), { icon: 'icon-arrow-left', id: 'admin_new_question' } %>
  </li>
<% end %>

<%= render partial: 'spree/admin/shared/product_sub_menu' %>
<%= render partial: 'spree/admin/shared/product_tabs', locals: { current: t('questions_and_answers') } %>

<%= form_for [:admin, @product, @question], method: :post, html: { multipart: true } do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: 'form', locals: { f: f } %>
    <%= render partial: 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
